.about-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about-description {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.6;
  margin-left: 2rem;
}

.about-photo {
  width: 60%;
  max-width: 100%;
  height: auto;
}

.logo-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  width: 100px;
  height: auto;
}

/**/

.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #fafafa;
}

.intro-container {
  display: flex;
  max-width: 1100px;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.intro-image img {
  width: 100%;
  height: auto;
}

.intro-image {
  flex: 1;
  position: relative;
}

.intro-text {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;
}

.intro-text h1 {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.intro-text h3 {
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 15px;
}

.intro-text p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #666;
  margin-bottom: 15px;
  text-align: justify;
}

@media (max-width: 768px) {
  .intro-container {
    flex-direction: column;
  }

  .intro-text {
    text-align: center;
    padding: 20px;
  }
  .qr-code {
    max-width: 150px; /* Manja veličina QR koda za manje ekrane */
  }
}

.qr-code {
  width: 100%;
  max-width: 200px; /* Maksimalna širina QR koda */
  margin: 0 auto; /* Centriranje */
}
